<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Archives - {{ .Site.Title }}</title>

    {{ partial "seo.html" . }}

    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}?v=4">
</head>

<body>

    {{ partial "header.html" . }}

    <main class="archives-page">

        <h1>Archives</h1>

            <section class="page-hero">
                <img src="{{ "images/Gringo.png" | relURL }}" alt="Gringo">
            </section>

        <p class="archive-intro">

        {{ $posts := where .Site.RegularPages "Section" "posts" }}

        {{ range $posts.GroupByDate "2006" }}

        <section class="archive-year">

            <h2>{{ .Key }}</h2>

            <div class="archive-list">

                {{ range .Pages }}

                <div class="archive-item">

                    <span class="archive-date">
                        {{ .Date.Format "Jan 2" }}
                    </span>

                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>

                </div>

                {{ end }}

            </div>

        </section>

        {{ end }}

    </main>

    {{ partial "footer.html" . }}

</body>

</html>